@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-button hover:bg-button-hover text-light text-center rounded flex justify-center;
}

.btn-cancel {
    @apply bg-transparent hover:bg-neutral text-dark border border-dark text-center rounded flex justify-center;
}

.txt-primary {
    @apply px-2 text-dark border border-dark rounded gap-2 items-center;
}

.btn-disable {
    @apply bg-neutral text-dark text-center rounded;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }